.container-fr2 {
    height: 100vh;
    width: 100%;
    background: #ebdfc9;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "1" "2";
    font-family: 'Poiret One', cursive, sans-serif;
}

.container-fr2-left {
    grid-area: "1";
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.container-card-left {
    width: 80%;
    height: 80%;
    background: #ac9e7f;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0px 20px 60px #333;
    transition: 1s;
}
.container-card-left:hover {
    transform: rotateZ(0deg);
    transform: scale(1.2);
}

.container-fr2-right {
    grid-area: "2";
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container-card-right{
    width: 80%;
    height: 80%;
    background: #ac9e7f;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transform: rotateZ(-30deg);
    box-shadow: 0px 20px 60px #333;
    transition: 1s;
}
.container-card-right:hover {
    transform: rotateZ(0deg);
    transform: scale(1.2);
}

.image-fr2-left {
width: 55%;
height: 75%;
transition: 1s;
}
.image-fr2-left:hover {
    transform: rotate3d(20deg);

}
.image-fr2-left > img {
    width: 100%;
    height: 100%;
}

.image-fr2-right {
    width: 55%;
    height: 75%;
    background: rgb(115, 134, 96);
}
.image-fr2-right > img {
    width: 100%;
    height: 100%;
}

.container-btn-left {
    border: 2px solid #333;
    width: 30%;
    height: 10%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
    margin-right: 2rem;
    transition: 0.5s;
}
.container-btn-left:hover {
    background: #333;
    color: antiquewhite;
}

.container-btn-left {
    border: 2px solid #333;
    font-size: 20px;
    font-weight: 800;
}

.container-btn-right {
    border: 2px solid #333;
    width: 30%;
    height: 10%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
    margin-left: 2rem;
    transition: 0.5s;
}
.container-btn-right:hover {
    background: #333;
    color: antiquewhite;
}

.container-btn-right {
    border: 2px solid #333;
    font-size: 20px;
    font-weight: 800;
}

@keyframes cardApparition {
    100% {
        transform: none;
        opacity: 1;
        transform: rotateZ(30deg);
    }
}