.container-card{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
}
.classForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 600px; 
    
}
.radioForm{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.cardForm{
    font-family: 'Poiret One', cursive, sans-serif, bold;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    background-color: #a52a2a;
    height: 700px;
    width: 500px;
}
.titleForm{
    font-family: 'Kalam', cursive;
}
.label{
    text-align: start;
}
.inputForm{
    height: 2rem;
    width: 14rem;
}
.itemsForm{
    display:flex;
    flex-direction: row;
    justify-content: space-between; 
}
.buttonForm{
    margin-left: 5rem;
    margin-right: 5rem;
    
}